

<div class="popular-tags mb-3">
  <div><p class="h3">Most popular tags</p></div>
  <div id="popular-tags">
    <p>
      <a href="show_tag.html" class="fs-4 link-secondary">SQL</a>
      <a href="show_tag.html" class="fs-4 link-danger">Python</a>
      <a href="show_tag.html" class="fs-4 link-secondary">C++</a>
      <a href="show_tag.html" class="fs-4 link-secondary">Java</a>
      <a href="show_tag.html" class="fs-4 link-secondary">Go</a>
      <a href="show_tag.html" class="fs-4 link-danger">PHP</a>
      <a href="show_tag.html" class="fs-4 link-secondary">Ruby</a>
    </p>
  </div>
</div>

<div class="best-members">
  <div><p class="h3">Best members</p></div>
  <div id="best-members">
    <ul>
      <li><a href="#" class="fs-4 link-secondary">Egor</a></li>
      <li><a href="#" class="fs-4 link-secondary">Skandakov</a></li>
      <li><a href="#" class="fs-4 link-secondary">hjbaa</a></li>
      <li><a href="#" class="fs-4 link-secondary">Hello</a></li>
      <li><a href="#" class="fs-4 link-secondary">World</a></li>
      <li><a href="#" class="fs-4 link-secondary">Bod9</a></li>
    </ul>
  </div>
</div>
