{% extends 'include/base_with_right_column.html' %}
{% load static %}

{% block content-header %}
    <ul class="list-group list-group-horizontal mt-5 align-items-baseline mb-4">
        <li class="list-group-item border-0 px-0">
            <h1>New question</h1>
        </li>
    </ul>
{% endblock %}

{% block left-column %}
    <form id="new-question-form" action="{% url 'ask_question' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
          <div class="text-danger">
            {{ field.errors }}
          </div>

          <div class="row mb-3">
            <div class="col-2">
                <label for="{{ field.auto_id }}" class="form-label fs-3">{{ field.label }}</label>
            </div>

            <div class="col-10">
              {{ field }}
            </div>
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
{% endblock %}
