{% extends 'include/base_with_right_column.html' %}
{% load static %}

{% block content-header %}
  <div class="mb-4"></div>
{% endblock %}


{% block left-column %}
  <div class="mb-3">
      {% block question %}
        {% include 'include/question_item.html' with question=question %}
      {% endblock %}
  </div>

  <hr/>
  <h2 class="mb-3">Answers:</h2>

  {% for answer in answers %}
    {% block answer %}
      {% include 'include/answer_item.html' with answer=answer %}
    {% endblock %}
  {% endfor %}
  <hr class="mt-3 mb-4">
  <div>
      <form>
          <textarea class="form-control mb-4" placeholder="Enter your answer here"></textarea>
          <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>
  </div>
{% endblock %}
